{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    {% include "navbar.html" %}
    {% if messages %}
    {% for message in messages %}
    <article class="message is-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}  message-fixed">
        <div class="message-header">
            <p>{{message.tags}}</p>
            <button class="delete close" aria-label="delete"></button>
        </div>
        <div class="message-body">
            {{ message|safe }}
        </div>
    </article>
    {% endfor %}
    {% endif %}
    <section class="section is-medium">
        {% block content %}
        {% endblock content %}
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.close').click(function() {
                $(this).parent().parent().fadeOut();
            });

            setTimeout(() => {
                $('.message').fadeOut();
            }, 4000);
        })
    </script>
</body>

</html>